<div class="container">
  <h2 class="text-center">Update Order</h2>
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="editorder">
      <div class="form-group">
        <!-- <label for="sid">SId</label>
        <input type="number" formControlName="sid" class="form-control" id="sid"> -->
        <label for="location">Location  </label>
        <input type="text" class="form-control" formControlName="location" id="location">
        <label for="start_date">Start Date</label>
        <input type="date | yyyy-MM-dd"class="form-control" formControlName="start_date" id="start_date">
        <label for="start_time">Start Time</label>
        <input type="time" class="form-control" formControlName="start_time" id="start_time">
        <label for="end_date">End Date</label>
        <input type="date | yyyy-MM-dd" class="form-control" formControlName="end_date" id="end_date">
      </div>
    </form>
    <!-- <div>
      <button class="btn btn-success" id="submit" type="submit" (click)="UpdateOrder()">Update</button>
    </div> -->
  </div>
</div>
