<!DOCTYPE html>
<div class="container">
  <h2 class="text-center">Update Service</h2>
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="editservice">
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" formControlName="type" id="type">
        <label for="size">Size</label>
        <input type="text" class="form-control" formControlName="size" id="size">
        <label for="service">Service</label>
        <input type="text" class="form-control" formControlName="service" id="service">
      </div>
    </form>
    <div>
      <button class="btn btn-success" id="submit" type="submit" (click)="UpdateService()">Update</button>
    </div>
  </div>
</div>
