<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" *ngIf="isLoggedIn$ | async " >
  <a class="navbar-brand" routerLink="home"></a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="home" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="" routerLink="addservice" >AddService</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="addcategory" >Addcategory</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="" routerLink="list-service" >ListService</a>
        </li>
      <li class="nav-item">
          <a class="nav-link"routerLink="list-category" >Listcategory</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="" routerLink="login" >login </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" (click)="onLogOut()" routerLinkActive="" routerLink="login" >Logout</a>
    </li>
    </ul>
  </div>
</nav>
